configuration.name="Liferay\ Elm\ Development"
enabled="true"
filter.mapping.url.pattern=[ \
  "/api/jsonws/*", \
  "/documents/*", \
  "/image/*", \
  "/o/api/*", \
  "/o/graphql", \
  "/o/app-builder/*", \
  "/o/data-engine/*", \
  "/o/bulk/*", \
  "/o/headless-admin-content/*", \
  "/o/headless-admin-taxonomy/*", \
  "/o/headless-admin-user/*", \
  "/o/headless-admin-workflow/*", \
  "/o/headless-batch-engine/*", \
  "/o/headless-commerce-admin-account/*", \
  "/o/headless-commerce-admin-catalog/*", \
  "/o/headless-commerce-admin-channel/*", \
  "/o/headless-commerce-admin-inventory/*", \
  "/o/headless-commerce-admin-order/*", \
  "/o/headless-commerce-admin-pricing/*", \
  "/o/headless-commerce-admin-site-setting/*", \
  "/o/headless-commerce-delivery-cart/*", \
  "/o/headless-commerce-delivery-catalog/*", \
  "/o/headless-delivery/*", \
  "/o/headless-form/*", \
  "/o/headless-portal-instances/*", \
  ]
headers=[ \
  "Access-Control-Allow-Credentials:\ true", \
  "Access-Control-Allow-Headers:\ *", \
  "Access-Control-Allow-Methods:\ *", \
  "Access-Control-Allow-Origin:\ http://localhost:3000", \
  ]
